.display-4 {
    color: #007bff !important;
}
.lead {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}
#bootstrap-overrides .btn-primary {
    transition: background-color 0.3s ease;
    &:hover {
        background-color: #016ee3;
    }
}

h2{
    color:#007bff !important;
    margin-bottom: 20px !important;
}

h3{
    color:#333 !important;
    font-size: 1.25rem !important;
    margin-bottom: 15px !important;
}

.card{
    border: 1px solid #ddd !important;
    border-radius: 5px !important;
}